#bird {
    transform-origin: bottom center;
    animation: body 7s ease infinite alternate;
    z-index: 0;
    pointer-events: none;
}

#Bird_feather {
    transform-origin: top center;
    animation: feather 7s ease infinite alternate;
}

#Bird_wing {
    transform-origin: 32% 70%;
	transition: all .2s;
}
#Bird_wing.ready-to-swat {
	opacity: 1;
    transform: rotate(80deg);
}

/* for the blinking */
#BLeye_pupil, #BReye_pupil {
    transform-origin: bottom;
}
#BirdLeye, #BirdReye {
    animation: blink 8s infinite alternate;
    transform-origin: 55% 50%;
    transition: all .25s ease;
}

@keyframes feather {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}