#pheonix {
    transform-origin: bottom center;
    animation: body 7s ease infinite alternate;
    z-index: 0;
    pointer-events: none;
}


#Wing_move {
    transform-origin: 38% 55%;
	transition: all .2s;
}
#Wing_move.ready-to-swat {
	opacity: 1;
    transform: rotate(60deg);
}

/* for the blinking */
#LPupil, #RPupil {
    transform-origin: bottom;
}
#Leye, #Reye {
    animation: blink 8s infinite alternate;
    transform-origin: 40% 50%;
    transition: all .25s ease;
}

#cursor {
    position: absolute;
    width: 16px;
    left: 50%;
    top: 50%;
    z-index: -2;
    transform-origin: center;
    opacity: 0;
}
#cursor.swatted {
    opacity: 1;
    animation: swatted .15s ease-out;
}

.swat {
    animation: swat .2s;
    filter: blur(10px);
	opacity: 1;
}


@keyframes swat {
	25% {
		opacity: 1;
		transform: rotate(0deg) scale(1.2);
	}
	
	50% {
		opacity: 1;
		transform: rotate(-90deg) scale(1.2);
	}
	51% {
		opacity: 1;
		transform: rotate(60deg) scale(1.2);
	}
	
	75.5% {
		opacity: 1;
		transform: rotate(-100deg) scale(1.2);
	}
	
	100% {
		opacity: 1;
		transform: rotate(-20deg) scale(1.2);
	}
}
@keyframes swatted {
	0% {
		opacity: 1;
		transform: scale(1) translate(0, 0) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: scale(3) translate(-15vw, 20vh) rotate(-60deg);
	}
}

@keyframes blink {
	0% {
		transform: scaleY(1);
	}
	39% {
		transform: scaleY(1);
	}
	40% {
		transform: scaleY(0);
	}
	41% {
		transform: scaleY(1);
	}
	69% {
		transform: scaleY(1);
	}
	70% {
		transform: scaleY(0);
	}
	71% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes body {
	0% {
		transform: rotate(0deg);
	}
	27% {
		transform: rotate(2deg);
	}
	69% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}