.scaleLogos {
    width: 80%;
}

.scaleBoba {
    position: absolute;
    top: 18%;
    height: 80%;
    width: auto;
}

.scaleTopping {
    width: 60%;
    height: 60%;
}

.scaleDrinks {
    width: 60%;
    height: 60%;
}